.signUpBox {
    width: 36rem;
    height: 55.6rem;
}

.emailDiv {
    position: absolute;
    top: 20%;
    left: 12.5%;
}

.fullNameDiv {
    position: absolute;
    top: 35%;
    left: 12.5%;
}

.passwordDiv {
    position: absolute;
    top: 50%;
    left: 12.5%;
}

.signUpButton {
    top: 67%;
    left: 12.5%;
}

.buttonDisable {
    background: #E0E0E0;
    border-width: 0;
    color: #636363;
}

.policyText {
    position: absolute;
    top: 80%;
    left: 12.5%;
    width: 29.4rem;
    height: 4.2rem;
}

.logInText {
    position: absolute;
    top: 90%;
    left: 18.5%;
    width: 24.4rem;
    height: 2.1rem;
}

.signUpError {
    top: 42rem;
    left: 5rem;
}
