@import url('https://fonts.cdnfonts.com/css/dm-sans');

.label {
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #00031A;
}

.input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.75rem;
    position: absolute;
    top: 1.625rem;
    width: 18rem;
    height: 2.75rem;
    background: #FFFFFF;
    border: 0.063rem solid #00031A;
    border-radius: 0.5rem;
}

.error {
    position: absolute;
    top: 4.375rem;
    font-size: 0.625rem;
}
